 .thumb-primary {
     .subject {
         text-align: center;
     }
 }

 .thumb-primary {
     .title-article-large {
         text-align: center;
     }
 }

 .thumb-secondary {
     img {
         width: 9em;
         height: 9em;
     }
 }

 .latest-posts {
     text-align: center;
 }