.thumb-primary {
    .subject {
        text-align: center;
    }
}

.thumb-primary {
    .title-article-large {
        text-align: center;
    }
}

.thumb-secondary {
    img {
        width: 9em;
        height: 9em;
    }
}

.latest-posts {
    text-align: center;
}

h3 {
    &.subject {
        text-align: center;
    }
}

h2 {
    &.title-secondary-single {
        text-align: center;
    }
}

.title-image-bis {
    img {
        padding-bottom: 30px;
    }
}

.farmers {
    background-image: url("https://media.licdn.com/dms/image/C560BAQF-VJeUHqV6Rg/company-logo_200_200/0?e=2159024400&v=beta&t=2jyIAxjd1tVfp6vHPVCWmF0Xv6C_xTxwU3R1chveDa8");
    background-position: left;
    background-size: 25px;
    background-repeat: no-repeat;


    .farmers-dog-bis {
        padding-left: 15px;
        text-align: left;
        height: 35px;
        font-size: xx-small;
    }
}

.row {
    .icons-row {
        padding-left: 3%;
        padding-right: 3px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-top: solid 1px rgba($color: gray, $alpha: 0.1);
        border-bottom: solid 1px rgba($color: gray, $alpha: 0.1);
        border: opacity($color: gray);
        text-align: left;
        width: 100%;
    }

    .social-network-single {
        text-align: right;


        a {
            text-decoration: none;
            font-size: 13px;
            text-align: right;

            i {
                &.fa-facebook {
                    background-color: #7677a1;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    padding-top: 4px;
                    color: white;
                    text-align: center;

                    vertical-align: middle;
                }

                &.fa-twitter {
                    background-color: #52d1e2;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    color: white;
                    padding-top: 4px;
                    vertical-align: middle;
                    text-align: center;
                }

                &.fa-pinterest {
                    background-color: red;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    padding-top: 4px;
                    color: white;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }

        border-radius: solid 40px #7677a1;

        .btn {
            font-size: xx-small;
        }
    }

    .share-single {
        color: black;
        font-size: 15px;
    }
}

.follow {
    padding-top: 39%;
    text-align: center;
    vertical-align: middle;
    font-size: x-small;



    a {
        display: inline-block;
        background-color: gray;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 7px;
        padding-right: 7px;
        color: white;
        text-align: center;
        vertical-align: middle;
        margin-top: -15px;


        i {
            margin-left: -1px;


        }
    }
}