.title-secondary {
  font: {
    family: $text-font;
    size: 15px;
  }
}

/*police, taille des titres en orange de la classe featured post*/

.featured-post h3.subject {
  color: rgb(241, 144, 109);
  text-transform: uppercase;
  border-right: solid 1px rgb(184, 182, 182);
  width: 35%;
  margin: 10px;

  font: {
    family: $text-font;
    size: 9px;
  }
}

/*taille image de la classe featured post*/

.featured-post img {
  width: 100%;
  margin: 5px;
}

/*mise en page liste a puce reseau sociaux*/

.network-links {
  width: 110%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 1px;

  font: {
    family: $brand-font;
    weight: bold;
  }

  :nth-child(1) {
    background: rgb(168, 194, 235);

    a {
      background: transparent;
      font-size: 12px;
    }
  }

  :nth-child(2) {
    background: rgb(82, 209, 226);

    a {
      background: transparent;
      font-size: 12px;
    }
  }

  :nth-child(3) {
    background: rgb(118, 119, 161);

    a {
      background: transparent;
      font-size: 12px;
    }
  }

  font: {
    family: $brand-font;
    size: 15px;
  }

  a {
    color: white;
    background: transparent;
  }

  /*section span push right mise en page car dans une div diff*/

  span.push-right {
    background: transparent;
  }

  li {
    margin: 3px;
    padding: 8px;
  }
}

/*publiciter */

.advertise {
  width: 110%;
  margin-top: 15px;
}



/* single page article mise en forme*/

p.article-single {

  text-align: left;
  margin-top: 5px;

  font: {
    family: $brand-font;
    size: 15px;

  }


}


h2.subtitle-single {


  font: {
    family: $text-font;
    size: 15px;
    weight: bolder;

  }

}

.network-article {

  background: transparent;
  text-transform: uppercase;

  button {

    margin: 8px;

  }


  font: {
    family: $brand-font;
    size: 10px;
  }

  :nth-child(1):before {

    a {
      background: transparent;
      font-size: 12px;
    }
  }

  :nth-child(2) {
    background: rgb(65, 62, 62);


    a {
      background: transparent;
      font-size: 12px;
    }
  }

  :nth-child(3) {
    background: rgb(118, 119, 161);

    a {
      background: transparent;
      font-size: 12px;
    }
  }

  :nth-child(4) {

    background: rgb(79, 197, 226);
  }

  :nth-child(5) {

    background: red;
  }

}

/*Subscribe to The Digest Newslette*/

h2 {

  &.title-subscribe-single {

    text-align: center;

    font: {
      family: $brand-font;
      size: 30px;
    }
  }
}

p {


  &.subtitle-subscribe-single {

    text-align: center;

  }
}

form.form-subscribe-single {

  text-align: center;

}

form.form-subscribe-single {

  background: rgb(233, 150, 122);

}


span.sign-up-subscribe-single {


  padding: 19px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;



}

input.input-subscribe-single {

  padding: 5px;
  border-right: none;
  width: 81%;

}