.navbar-collapse ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif; }

.brand {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 45px;
  padding: 20px;
  font-weight: bold; }

.social-network {
  text-align: center; }
  .social-network a {
    text-decoration: none;
    color: black; }
  .social-network i {
    padding-left: 10px;
    padding-right: 10px; }

.title-article-small {
  padding-top: 8px;
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.title-article-medium {
  padding-top: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.title-article-large {
  padding-top: 8px;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.thumb-primary .subject {
  text-align: center; }

.thumb-primary .title-article-large {
  text-align: center; }

.title-secondary {
  display: inline-block;
  padding-top: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  max-width: 20%; }

.line {
  display: inline-block;
  border-top: 2px solid gray;
  min-width: 75%;
  transform: translateY(-5px); }

.subject {
  padding-top: 8px;
  color: red;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.fa-share {
  padding: 3px;
  border: 1px solid gray;
  border-radius: 50%; }

.share {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.description-text {
  font-family: "Crimson Text", serif; }

img {
  width: 100%;
  height: auto; }

.pagination {
  padding-top: 25px;
  padding-bottom: 25px; }
  .pagination ul {
    margin: auto; }
    .pagination ul li {
      display: inline-block;
      text-decoration: none; }
      .pagination ul li.page {
        text-align: center;
        width: 30px;
        height: 30px;
        border: 1px solid #4C4F55;
        border-radius: 50%;
        font-size: 12px;
        padding-top: 5px; }
        .pagination ul li.page.active {
          color: white;
          background-color: #4C4F55; }
      .pagination ul li a {
        text-decoration: none;
        color: inherit; }

#arrow {
  display: none;
  cursor: pointer;
  z-index: 99;
  position: fixed;
  /* Fixed/sticky position */
  bottom: 50%;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #878787;
  text-align: center; }
  #arrow a {
    font-size: 16px;
    text-decoration: none;
    color: white; }
  #arrow:hover {
    opacity: 0.7; }

.thumb-primary .subject {
  text-align: center; }

.thumb-primary .title-article-large {
  text-align: center; }

.thumb-secondary img {
  width: 9em;
  height: 9em; }

.latest-posts {
  text-align: center; }

.title-secondary {
  font-family: "Open Sans", sans-serif;
  font-size: 15px; }

/*police, taille des titres en orange de la classe featured post*/
.featured-post h3.subject {
  color: #f1906d;
  text-transform: uppercase;
  border-right: solid 1px #b8b6b6;
  width: 25%;
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 9px; }

/*taille image de la classe featured post*/
.featured-post img {
  width: 100%;
  margin: 5px; }

/*mise en page liste a puce reseau sociaux*/
.network-links {
  width: 110%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 1px;
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-family: "Crimson Text", serif;
  font-size: 15px;
  /*section span push right mise en page car dans une div diff*/ }
  .network-links :nth-child(1) {
    background: #a8c2eb; }
    .network-links :nth-child(1) a {
      background: transparent;
      font-size: 12px; }
  .network-links :nth-child(2) {
    background: #52d1e2; }
    .network-links :nth-child(2) a {
      background: transparent;
      font-size: 12px; }
  .network-links :nth-child(3) {
    background: #7677a1; }
    .network-links :nth-child(3) a {
      background: transparent;
      font-size: 12px; }
  .network-links a {
    color: white;
    background: transparent; }
  .network-links span.push-right {
    background: transparent; }
  .network-links li {
    margin: 3px;
    padding: 8px; }

/*publiciter */
.advertise {
  width: 110%;
  margin-top: 15px; }
